In [3]:
import quandl
import numpy as np #linear algebra
import pandas as pd #data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from matplotlib import pyplot as plt
import bamboolib as bam

#data are available in the "../input/" directory

import os
#print(os.listdir("../input/"))
quandl.ApiConfig.api_key = 'fxZzuDxTUwi4x7ZqE2zY'

In [4]:
#data = quandl.get_table('EDIA/ECD', date='1961-01-01,1962-01-01', series_id='1994')
from pandas.tseries.offsets import DateOffset
ts = pd.Timestamp('1960-01-01')
ts + DateOffset(months=12)

Timestamp('1961-01-01 00:00:00')

In [5]:
df_gdpgrowthinput = pd.read_csv('FinalDraft.csv')
df_gdpgrowthinput

,Country Code,Countries,GDP Growth Rate: 95,Unemployment Rate: 200,Inflation Rate: 119,Corruption Index: 44,Interest Rate: 124,From_Date_GDP,To_Date_GDP
0,AF,Afghanistan,88,160,112,26,125,2002-01-01,2018-01-01
1,AL,Albania,288,384,316,225,324,1981-01-01,2019-01-01
2,AM,Armenia,1560,1690,1603,1470,1614,1991-01-01,2019-01-01
3,AO,Angola,873,992,920,780,933,2003-01-01,2019-01-01
4,AU,Australia,1994,2168,2051,1892,2066,1961-01-01,2019-01-01
...,...,...,...,...,...,...,...,...,...
124,WS,Samoa,34853,34920,34877,34785,34888,1971-01-01,2017-01-01
125,YE,Yemen,45299,45356,45315,45253,45323,1991-01-01,2018-01-01
126,ZA,South Africa,37660,37828,37715,37543,37729,1961-01-01,2019-01-01
127,ZM,Zambia,45509,45627,45553,45414,45567,1988-01-01,2019-01-01
128,ZW,Zimbabwe,45739,45839,45776,45668,45787,2009-01-01,2018-01-01

In [6]:
from datetime import datetime
now = datetime.now()
print(now)
timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

2020-08-05 21:47:04.085203
timestamp = 1596678424.085203

In [13]:
from pandas.tseries.offsets import DateOffset
from datetime import datetime
from datetime import timedelta
from dateutil.relativedelta import relativedelta

lst_dates = []
for row in df_gdpgrowthinput.head(1).itertuples():
    start_date  = str(row.From_Date_GDP)
    end_date = str(row.To_Date_GDP)
    start = datetime.strptime(start_date, "%Y-%m-%d")
    lst_dates.append(start_date)
    stop = datetime.strptime(end_date, "%Y-%m-%d")
    while start < stop:
        start = start + relativedelta(months = +12)
        lst_dates.append(start.strftime("%Y-%m-%d"))

['2002-01-01', '2003-01-01', '2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01', '2009-01-01', '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01', '2016-01-01', '2017-01-01', '2018-01-01']

In [14]:
dateparam = " ,".join(lst_dates)
dateparam
#data = quandl.get_table('EDIA/ECD', date=dateparam, series_id='1994'

'2002-01-01 ,2003-01-01 ,2004-01-01 ,2005-01-01 ,2006-01-01 ,2007-01-01 ,2008-01-01 ,2009-01-01 ,2010-01-01 ,2011-01-01 ,2012-01-01 ,2013-01-01 ,2014-01-01 ,2015-01-01 ,2016-01-01 ,2017-01-01 ,2018-01-01'